@using EPiServer.Framework.Web.Resources
@using EPiServer.Shell.Navigation

@{
    Layout = string.Empty;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Hangfire Dashboard</title>
    @ClientResources.RenderResources("ShellCore")
    @ClientResources.RenderResources("ShellCoreLightTheme")

    <style>
        html,
        body,
        .iframe-container {
            height: 100%;
        }

        iframe {
            width: 100%;
            height: 100%;
        }
    </style>
</head>

<body>
    @Html.CreatePlatformNavigationMenu()
    <div @Html.ApplyPlatformNavigation(additionalClass: "iframe-container")>
        <iframe src="/episerver/backoffice/Plugins/hangfire" title="Hangfire Dashboard" frameborder="0">
            <p>Your browser does not support iframes.</p>
        </iframe>
    </div>
</body>

</html>